body{
  background-color: black;
  color: orange;
  font-family: monospace;
  font-size: 20px;
}

/********************************************************************
*           CSS BY DRUCKES LUCAS
*           EXERCISE DOM
*           21.10.2020
*           https://github.com/Weact
*********************************************************************/

h2{
  margin: auto auto;
  width: fit-content;
}

.container{
  margin: 0 auto;
  width: fit-content;
  border: white 3px solid;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
}

#cadre{
  margin: 10px auto 10px auto;
  /*width: 90px;*/
  /*height: 90px;*/
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: orange;
  background-color: #2F2F2F;
}

#par1{
  font-style: italic;
}

.test{
  color: orange;
}

.btn{
  /*margin: auto auto;*/
  display: block;
  background-color: black;
  color: orange;
  font-weight: bold;
  font-size: 24px;
  border: 3px solid white;
  font-family: monospace;
  text-align: center;
  padding: 10px;
  width: fit-content;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  transition: 0.5s;
}

.btn:hover{
  background-color: #6F6F6F;
  transition: 0.5s;
}

hr{
  border: 3px white solid;
  border-radius: 50px;
  padding: 1px;
  margin: 10px 10px 10px 10px;
  background-color: orange;
}
