body{
  background-color: black;
  color: orange;
  font-family: monospace;
  font-size: 20px;
}

/********************************************************************
*           CSS BY DRUCKES LUCAS
*           TABLE USING DIVS
*           19.10.2020
*           https://github.com/Weact
*********************************************************************/

.container{
  margin: 0 auto;
  width: fit-content;
  border: white 3px solid;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
}

.btn{
  /*margin: auto auto;*/
  display: block;
  background-color: black;
  color: orange;
  font-weight: bold;
  font-size: 24px;
  border: 3px solid white;
  font-family: monospace;
  text-align: center;
  padding: 10px;
  width: fit-content;
  margin: auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imageSelect{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  background-color: black;
  border: 2px solid orange;
  color: orange;
  font-family:monospace;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  height: 500px;
  overflow: hidden;
}

.imgContainer{
  width: 1310px;
}

.displayedImage{
  width: 640px;
  height: 360px;
  margin: 5px 5px 5px 5px;
  border: 2px solid orange;
}

.selectOptions{
  padding: 20px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  text-align: center;
  width: fit-content;
  margin: auto auto;
  margin-bottom: 5px;
  margin-top: 5px;
}
.selectOptions:hover{
  padding: 20px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  text-align: center;
  border: 1px white solid;
  width: fit-content;
  margin: auto auto;
}
